<footer
  class="d-flex flex-column flex-md-row justify-content-between align-items-center py-3 border-top text-center text-md-start">
  <div class="mb-2 mb-md-0">
    <span class="text-body-secondary">&copy; 2025 MascotAnuncios</span>
  </div>

  <ul class="nav justify-content-center mb-2 mb-md-0">
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary">Inicio</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary">Anuncios</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary">Criadores</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary"
        >Compra responsable</a
      >
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary">Contacto</a>
    </li>
  </ul>

  <div>
    <a class="text-body-secondary ms-3" href="#"
      ><i class="fab fa-facebook"></i
    ></a>
    <a class="text-body-secondary ms-3" href="#"
      ><i class="fab fa-instagram"></i
    ></a>
    <a class="text-body-secondary ms-3" href="#"
      ><i class="fab fa-twitter"></i
    ></a>
  </div>
</footer>
