.navbar-custom {
    background-color: var(--primary-bg-color);
    box-shadow: var(--box-shadow);
}

.navbar-brand,
.nav-link {
    color: var(--primary-text-color) !important;
}

.dropdown-menu.dropdown-custom {
    background-color: var(--primary-bg-color);
}

.dropdown-item {
    color: var(--primary-text-color)!;
}

.dropdown-item:hover {
    background-color: var(--accent-color) !important;
    color: white;
}

.logo-img {
    height: 40px;
    width: auto;
}