<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand font-weight-bold text-primary me-3" routerLink="/inicio">MascotAnuncios</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-nowrap">
                <ng-container *ngIf="isAuthenticated; else guestLinks">
                    <ng-container *ngIf="esVendedor">
                        <li class="nav-item active me-3">
                            <a class="nav-link" routerLink="/publicar">Publicar anuncio</a>
                        </li>
                        <li class="nav-item active me-3">
                            <a class="nav-link" routerLink="/misanuncios">Mis anuncios</a>
                        </li>
                        <li class="nav-item active me-3">
                            <a class="nav-link" routerLink="/misuscripcion">Mi suscripción</a>
                        </li>
                        <li class="nav-item active me-3">
                            <a class="nav-link" routerLink="/mismascotas">Mis mascotas</a>
                        </li>
                    </ng-container>
                    <li class="nav-item dropdown me-3">
                        <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-paw"></i> Mascotas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="/perros">Perros</a></li>
                            <li><a class="dropdown-item" routerLink="/gatos">Gatos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item active me-3">
                        <a class="nav-link text-secondary" routerLink="/favoritos"><i class="fas fa-heart"></i>
                            Favoritos</a>
                    </li>
                    <li class="nav-item active me-3">
                        <a class="nav-link" routerLink="/perfil">Perfil</a>
                    </li>
                    <form class="d-flex">
                        <div class="input-group">
                            <input class="form-control border-secondary" type="search" placeholder="Buscar..." aria-label="Search">
                            <button class="btn btn-secondary text-white" type="submit"><i class="fas fa-search"></i> Buscar</button>
                        </div>
                    </form>
                    <li class="nav-item active me-3">
                        <a class="nav-link" (click)="logout()">Cerrar sesión</a>
                    </li>
                </ng-container>
                <ng-template #guestLinks>
                    <li class="nav-item me-3">
                        <a class="nav-link text-secondary" routerLink="/login">Iniciar sesión</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link text-secondary" routerLink="/registro">Registrarse</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>