.flecha.rotada {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.filtros-header, .ordenar-por {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #6b4226;
}

.filtros-header span.flecha, .ordenar-por {
    margin-left: 0.5rem;
}

/* Personalización del ng-select */
.ordenar-por ng-select {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #6b4226;
    font-style: normal;
    width: auto;
    box-shadow: none;
    
}

/* Ajustar el ancho del desplegable sin afectar el contenedor */
::ng-deep .ordenar-por ng-select .ng-dropdown-panel {
    width: auto; /* Permite que el desplegable se ajuste automáticamente */
    z-index: 1050; /* Asegura que el desplegable esté por encima de otros elementos */
    right: 0; /* Alinea el desplegable hacia la izquierda */
    left: auto; /* Evita que se desplace hacia la izquierda */
}

/* Sobrescribir el estilo del placeholder */
::ng-deep .ordenar-por ng-select .ng-placeholder {
    color: #6b4226;
    font-style: normal; 
}

.filtros-header span.flecha {
    color: #6b4226;
}