<div class="container-fluid mt-4"> 
  <div class="row gx-3 p-3 pt-0"> 

    <!-- Filtros Header and Ordenar por -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <!-- Filtros Header -->
      <div class="filtros-header" *ngIf="esMovil" (click)="mostrarFiltros = !mostrarFiltros">
        <span class="card-title fw-bold">Filtros</span>
        <span class="flecha" [class.rotada]="mostrarFiltros">&#9660;</span> <!-- ▼ -->
      </div>

      <!-- Ordenar por -->
      <div class="ordenar-por ms-auto">
        <ng-select 
          [items]="[
            { label: 'Precio: Menor a mayor', value: 'precioAsc' },
            { label: 'Precio: Mayor a menor', value: 'precioDesc' },
            { label: 'Más reciente', value: 'fechaReciente' },
            { label: 'Más antiguo', value: 'fechaAntigua' }
          ]" 
          bindLabel="label" 
          bindValue="value" 
          [(ngModel)]="ordenSeleccionado" 
          placeholder="Ordenar por..."
          (change)="ordenarAnuncios()" 
          class="custom-ng-select"
          [searchable]="false"> <!-- Deshabilitar la búsqueda -->
        </ng-select>
      </div>
    </div>

    <!-- Filtros -->
    <div class="col-12 col-md-3" [ngClass]="{ 'd-none d-md-block': esMovil && !mostrarFiltros }">
      <div class="card p-3 mb-4">
        <h5 class="card-title">Filtros</h5>
        <form (ngSubmit)="aplicarFiltros()">
          <div class="mb-3">
            <label for="tipoAnimal" class="form-label">Tipo de animal</label>
            <ng-select
              [items]="[{label: 'Todos', value: ''}, {label: 'Perro', value: 'perro'}, {label: 'Gato', value: 'gato'}]"
              bindLabel="label" bindValue="value" [(ngModel)]="filtros.tipoAnimal" name="tipoAnimal"
              placeholder="Selecciona tipo de animal" (change)="updateRazasList()" class="custom-ng-select" [searchable]="false">
            </ng-select>
          </div>
          <div class="mb-3">
            <label for="raza" class="form-label">Raza</label>
            <ng-select [items]="filteredRazas" bindLabel="label" bindValue="value" [(ngModel)]="filtros.raza"
              name="raza" placeholder="Selecciona una raza" [searchable]="true" (search)="onSearchRaza($event)"
              class="custom-ng-select">
            </ng-select>
          </div>
          <div class="mb-3">
            <label for="ubicacion" class="form-label">Ubicación</label>
            <div class="input-group">
              <input id="ubicacion" [(ngModel)]="filtros.ubicacion" name="ubicacion" class="form-control"
                placeholder="Ej: Madrid" />
              <button type="button" class="btn btn-outline-secondary bi bi-geo-alt-fill" (click)="detectarUbicacion()"
                title="Detectar ubicación"></button>
            </div>
          </div>
          <div class="mb-3">
            <label for="precioMin" class="form-label">Precio mínimo</label>
            <input id="precioMin" class="form-control" placeholder="Introduzca precio mínimo" type="number"
              [(ngModel)]="filtros.precioMin" name="precioMin" />
          </div>
          <div class="mb-3">
            <label for="precioMax" class="form-label">Precio máximo</label>
            <input id="precioMax" class="form-control" placeholder="Introduzca precio máximo" type="number"
              [(ngModel)]="filtros.precioMax" name="precioMax" />
          </div>
          <button type="submit" class="btn-default w-100">Aplicar filtros</button>
        </form>
      </div>
    </div>

    <!-- Lista de anuncios -->
    <div class="col-md-9">
      <div *ngIf="anunciosFiltrados.length > 0; else noAnuncios">
        <div *ngFor="let anuncio of anunciosFiltrados">
          <app-anuncios-resume [anuncio]="anuncio"></app-anuncios-resume>
        </div>
      </div>
      <ng-template #noAnuncios>
        <p class="text-center text-danger fw-bold">No hay anuncios disponibles.</p>
      </ng-template>
    </div>
  </div>
</div>