<div *ngIf="loading">Cargando archivos...</div>
<div *ngIf="!loading" class="tarjetas">
  <div *ngFor="let usuario of usuarios" class="tarjeta" (click)="verArchivo(usuario)">
    <strong>{{ usuario.usuario.nombre }} {{ usuario.usuario.apellidos }}</strong>
  </div>
</div>

<!-- Visor PDF modal simple -->
<div *ngIf="archivoSeleccionado">
  <div class="visor-backdrop" (click)="cerrarVisor()"></div>
  <div class="visor-modal">
    <button (click)="cerrarVisor()">Cerrar</button>
    <iframe [src]="archivoSeleccionado.url | safeUrl"></iframe>
  </div>
</div>
