<div class="d-flex flex-column flex-lg-row">
  <!-- Lista de anuncios -->
  <div class="col-md-12">
    <div *ngIf="anunciosFiltrados.length > 0; else noAnuncios">
      <div *ngFor="let anuncio of anunciosFiltrados" class="position-relative mb-3">
        <app-misanuncios-resume 
          [anuncio]="anuncio" 
          (anuncioClick)="editarAnuncio(anuncio)">
        </app-misanuncios-resume>
      </div>
    </div>
    <ng-template #noAnuncios>
      <p class="text-center text-danger fw-bold">No hay anuncios disponibles.</p>
    </ng-template>
  </div>
</div>
