<div class="d-flex flex-column flex-lg-row">
  <!-- Lista de anuncios -->
  <div class="col-md-12 p-3">
    <div *ngIf="cargando">
      <p class="text-center fw-bold">Cargando anuncios...</p>
    </div>
    <div *ngIf="!cargando">
      <div *ngIf="anunciosFiltrados.length > 0; else noAnuncios" class="row row-cols-1 row-cols-md-2 g-3">
        <div *ngFor="let anuncio of anunciosFiltrados" class="col">
          <app-misanuncios-resume 
            [anuncio]="anuncio" 
            (anuncioClick)="editarAnuncio(anuncio)">
          </app-misanuncios-resume>
        </div>
      </div>
      <ng-template #noAnuncios>
        <p class="text-center text-danger fw-bold">No hay anuncios disponibles.</p>
      </ng-template>
    </div>
  </div>
</div>
