<div class="d-flex flex-column flex-lg-row vh-100">
    <!-- Menú lateral -->
    <div class="menu-lateral p-3 col-12 col-lg-3">
      <ul class="list-group">
        <li class="list-group-item" [class.active]="activeSection === 'ver'" (click)="setActiveSection('ver')">
          Ver suscripción
        </li>
        <li class="list-group-item" [class.active]="activeSection === 'contratar'" (click)="setActiveSection('contratar')">
          Contratar suscripción
        </li>
      </ul>
    </div>
  
    <!-- Contenido principal -->
    <div class="contenido-principal flex-grow-1 p-4 col-12 col-lg-9">
      <!-- Contratar suscripción -->
      <div *ngIf="activeSection === 'contratar'">
        <h3 class="mb-4">Contratar suscripción</h3>
        <div class="formulario-suscripcion">
          <form [formGroup]="suscripcionForm" (ngSubmit)="crearSuscripcion()">
            <div class="mb-3">
              <label for="duracion" class="form-label"><strong>Duración:</strong></label>
              <ng-select 
                [items]="duracionOptions" 
                bindLabel="label" 
                bindValue="value" 
                [(ngModel)]="selectedDuracion" 
                (change)="onDuracionChange($event)" 
                placeholder="Selecciona la duración"
                class="custom-ng-select form-control">
              </ng-select>
            </div>
            <div class="mb-3">
              <label for="fecha_alta" class="form-label"><strong>Fecha de alta:</strong></label>
              <input type="datetime-local" id="fecha_alta" formControlName="fecha_alta" class="form-control" required />
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-marron" [disabled]="suscripcionForm.invalid">
                Ir al pago
              </button>
            </div>
          </form>
        </div>
      </div>
  
      <!-- Ver suscripción -->
      <div *ngIf="activeSection === 'ver'">
        <h3 class="mb-4">Detalles de la suscripción</h3>
        <div *ngIf="suscripcion$ | async as suscripcion; else noSuscripcion" class="detalles-suscripcion">
          <p>
            <strong>Activa: </strong>
            <span *ngIf="suscripcion.activa; else inactiva">
              <i class="bi bi-check-circle-fill text-success"></i>
            </span>
            <ng-template #inactiva>
              <i class="bi bi-x-circle-fill text-danger"></i>
            </ng-template>
          </p>
          <p><strong>Duración:</strong> {{ suscripcion.duracion }} días</p>
          <p><strong>Fecha de alta:</strong> {{ suscripcion.fecha_alta | date: 'longDate' }}</p>
          <p><strong>Fecha de fin:</strong> {{ suscripcion.fecha_fin | date: 'longDate' }}</p>
        </div>
        <ng-template #noSuscripcion>
          <p class="no-suscripcion">No se encontró ninguna suscripción.</p>
        </ng-template>
      </div>
    </div>
  </div>
